body {
  background-color: #faebd6;
}
h1 {
  color: #ff0000;
}
.tekst1 {
  color: #a42423;
  font-size: 30px;
  margin-top: 60px;
}
.tekst2 {
  color: #00008f;
  font-size: 30px;
  margin-top: 60px;
}
